/*------------------------------------*\
    #UNDERLINE COMPONENT
\*------------------------------------*/





/**
 * Add a nice underline
 */
.#{$inuit-underline-namespace}underline,
%#{$inuit-underline-namespace}underline {
  color: $underline-color;
  @include underline();
}




// If links are underlined
@if $links-underlined == true {
  /**
   * Add a nice underline witch is the color of the links
   */
  a.#{$inuit-underline-namespace}underline {
    color: $underline-link-color;
    @include underline($underline-link-color);

    &:hover {
      color: $underline-link-color--hover;
      @include underline($underline-link-color--hover);
    }
  }






  /**
   * Button doesn't have underline
   */
  a.#{$inuit-underline-namespace}underline.btn {
    background-image: none;
    text-shadow: none;
  }





  /**
   * Link without underline
   */
  .#{$inuit-underline-namespace}no-underline
  %#{$inuit-underline-namespace}no-underline {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
