/*------------------------------------*\
    #UNDERLINE MIXINS
\*------------------------------------*/





// Underline mixin
@mixin underline ($underline-color: $underline-color, $underline-position: $underline-position, $underline-width: $underline-width, $underline-background-color: $underline-background-color, $underline-shadow-width: $underline-width) {

  // convert em -> px
  @if unit($underline-width)==em {
    // remove unit
    $underline-width: $underline-width / ($underline-width * 0 + 1);
    // multiply by default browser font size (16px) to get px
    $underline-width: ($underline-width * 16) * 1px;
  }
  @if unit($underline-position)==em {
    // remove unit
    $underline-position: $underline-position / ($underline-position * 0 + 1);
    // multiply by default browser font size (16px) to get px
    $underline-position: ($underline-position * 16) * 1px;
  }

  // warn if width is thinner than 1px
  @if $underline-width < 1px {
    @warn "The width of the underline is #{$underline-width}. Some browsers may not render line thinner than 1px."
  }

  // remove classic underline
  text-decoration: none;

  // the underline
  background: linear-gradient(to top, $underline-background-color, $underline-background-color $underline-position, $underline-color $underline-position, $underline-color $underline-position+$underline-width, $underline-background-color $underline-position+$underline-width);

  // text-shadow
  // why so much ?! -> http://dsh.re/14297
  $precision: 5;
  $all: ();
  $delta-distance: $underline-shadow-width * 2 / ($precision - 1);
  // from top-left to top-right
  @for $i from 0 through ($precision - 1) {
    $all: append($all, (-$underline-shadow-width)+$delta-distance*$i (-$underline-shadow-width) 0 $underline-background-color, comma)
  }
  // from bottom-left to bottom-right
  @for $i from 0 through ($precision - 1) {
    $all: append($all, (-$underline-shadow-width)+$delta-distance*$i $underline-shadow-width 0 $underline-background-color, comma)
  }
  // from top-left to bottom-left
  @for $i from 0 through ($precision - 1) {
    $all: append($all, (-$underline-shadow-width) (-$underline-shadow-width)+$delta-distance*$i 0 $underline-background-color, comma)
  }
  // from top-right to bottom-right
  @for $i from 0 through ($precision - 1) {
    $all: append($all, $underline-shadow-width (-$underline-shadow-width)+$delta-distance*$i 0 $underline-background-color, comma)
  }
  text-shadow: $all;
}
